<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
     <!-- <add key="TeaMaker" value="Fin"/> -->
      <add key="TeaMaker1" value="Graham"/>
      <add key ="TeaMaker2" value="Links"/>
      <add key="TeaMaker3" value="Si"/>
      <!--<add key="TeaMaker4" value="Stephen"/>-->
    </appSettings>
</configuration>